
    <form [formGroup]="form" (submit)="updateTarea()">
        <div class="tareas-edit">
            <input
                type="text"
                class="tareas-edit-input"
                id="name"
                required 
                formControlName="name"
                name="name"
            >
    
            <button type="submit"  class="tareas-edit-button">Modificar</button>

        </div>
        
    </form>
    <button (click)="cancelar()"   class="tareas-cancelar-button">Cancelar</button>


